:root {
	--color1: seagreen;
	--lightgray: color(lightgray lightness(30%));
}

body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	//font-family: 'Muli';
	background: whitesmoke;
}

#main, .view__container {
  padding: 2em;
}

.video_list {
  position: absolute;
  top: 186px;
  width: 100%;
  border-top: solid 3px color(whitesmoke lightness(80%));
  left: 0;
  bottom: 0;
  background: color(whitesmoke lightness(90%));
  transition: all 300ms ease;
}

#main {
	background: white;
  max-width: 410px;
}

#view {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: calc(410px + 4em);
	background: whitesmoke;
	border-left: solid 1px lightgray;
  transition: all 300ms ease;
  overflow-y: auto;
}

a {
	text-decoration: none;
  color: blue;
}

section {
	margin: 3em 0;
}

#about-me {
	margin-top: 0;
}

.introduction {
	font-size: 18px;
}

.site-list {
	list-style: none;
	padding-left: 0;
  color: #888;

	& li {
		line-height: 1.5em;
    cursor: pointer;
    font-size: 1.15em;

    &.active {
      font-weight: 700;
      color: black;
    }
	}
}

.contact-form {
	background: whitesmoke;
	padding: 1em;
	border: solid 1px lightgray;

	& input:not([type=checkbox]), & textarea {
		width: 100%;
	}
}

.site-description {
	font-weight: 700;
}

.site-title {
  margin: 0;
  transition: color 300ms ease;
}



.video_list__toggle {
  list-style: none;
  padding: 0;
  margin: 0;
  
  & li {
    display: inline-block;
    text-transform: capitalize;
    cursor: pointer;
    padding: .5em 0;
    border: solid 1px color(whitesmoke lightness(80%));
    margin-right: .5em;
    width: 100px;
    text-align: center;

    &.active {
      font-weight: 700;
      background: color(whitesmoke lightness(80%));
    }

  }
}

.video_list__videos {
  list-style: none;
  padding: 0;
  margin: 0;
  

  & li {
    transition: all 300ms ease;

  }


  & video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 3px;
    box-shadow: 6px 8px color(lightgray lightness(45%));
    max-height: 450px;
  }
}